<style>
  a, a:visited{
    color: white;
  }
</style>
<div class="container-fluid">
<%= form_with(model: feed, local: true) do |form| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-1"><%= form.label :name %></div>
    <div class="col-6"><%= form.text_field :name, class: "form-control" %></div>
  </div>

  <div class="row">
    <div class="col-1"><%= form.label :url %></div>
    <div class="col-6"><%= form.text_field :url, class: "form-control" %></div>
  </div>

  <div class="row">
    <div class="col-1"><%= form.label :description %></div>
    <div class="col-6"><%= form.text_area :description, class: "form-control" %></div>
  </div>

</div>
<br />
<%= form.submit "Save", class: "btn btn-primary" %>
<%= link_to 'Back', feeds_path, class: "btn btn-danger" %>
<% end %>
