<style>
  a, a:visited{
    color: white;
  }
</style>
<!-- <div class="container-fluid"> -->
  <p id="notice"><%= notice %></p>
  <h1>Feeds</h1>
  <div class="btn-group" role="group">
    <%= link_to 'New Feed', new_feed_path, {class: "btn btn-primary", style: "color: white;"} %>
    <%= link_to 'Reload All Feeds', new_feed_path, {class: "btn btn-success", style: "color: white;"} %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @feeds.each do |feed| %>
        <tr>
          <td><%= feed.name %></td>
          <td><%= feed.url %></td>
          <td><%= feed.description %></td>
          <td>
            <div class="btn-group" role="group">
              <%= link_to 'Show', entries_path(feed.id), class: "btn btn-sm btn-primary" %>
              <%= link_to 'Edit', edit_feed_path(feed), class: "btn btn-sm btn-success" %>
              <%= link_to 'Destroy', feed, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<!-- </div> -->
